@import '../styles/_variables.scss';

.Filter-Search-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Filter {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.Filter p {
	margin-right: 30px;
	text-align: start;
}

.bar-sign {
	height: 5vh;
	margin-right: 10px;
}

.Filter button {
	@include greyButton();

	&:active {
		color: $grey;
		background: $golden;
	}
}

.current-filter {
	margin: 10px 0 0 70px;
}

.or {
	@include headerFont(48px);
	color: $teal;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 100px 0 100px;
}

.Search {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.search-input {
	@include textFont(20px);
	width: 25%;
	border: none;
	border-bottom: solid 2px $grey;
	background: transparent;
}

.search-icon {
	height: 6vh;
}

.search-button {
	@include greyButton;
	margin-left: 10px;
}

label {
	margin-right: 10px;
}