@import '../styles/_variables.scss';

Header {
	display: flex;
	justify-content: space-between;
	background-color: $grey;
	height: 12vh;
}

.title-box {
	display: flex;
	align-items: center;
	margin-left: 40px;
}

.logo {
	height: 4vh;
	margin: 10px;
}

.app-title {
	@include headerFont(54px);
}

nav {
	display: flex;
	align-items: flex-end;
}

a {
	@include textFont(26px);
	text-decoration: none;
	color: $golden;
	margin: 15px;

	&:hover {
		filter: drop-shadow(0px 0px 3px $golden);
	}
}