@import '../styles/_variables.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.Brewery-details {
  position: fixed;
	background: $teal;
	border-radius: 15px;
  width: 60%;
  height: 40%;
  top:50%;
  left:50%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.Brewery-details h1 {
	@include headerFont(48px);
	color: $grey;
	margin: 20px 0 0 0;
}

.type {
	color: $grey;
	font-style: italic;
	font-size: 16px;
	margin: 0 0 20px 0;
	filter: drop-shadow(1px 1px 1px $grey);
}

.Brewery-details h2 {
	font-size: 32px;
	color: $grey;
}

.Brewery-details h3 {
	font-size: 20px;
	color: $grey;
}

.phone {
	color: $grey;
	font-weight: bold;
	margin: 20px;
}

.details-button-box {
	display: flex;
	justify-content: space-around;
	width: 70%;
}

.details-button-box button {
	@include textFont(20px);
	color: $golden;
	background: $grey;
	border-radius: 10px;
	align-self: center;
	height: 40px;
	outline: none;
	border: none;
	padding: 0 15px 0 15px;
	cursor: pointer;

	&:hover {
		filter: drop-shadow(4px 8px 8px $grey);
	}
}

.details-button-box a {
	@include textFont(20px);
	color: $golden;
	background: $grey;
	border-radius: 10px;
	align-self: center;
	height: 40px;
	outline: none;
	border: none;
	text-decoration: none;
	width: 160px;
	margin: 0;
	padding: 7px 15px 0 15px;

	&:hover {
		filter: drop-shadow(4px 8px 8px $grey);
	}
}

.cheers-details {
	height: 3vh;
	margin: 0 10px -6.5px 0;
}

@media screen and (max-width: 1200px) and (min-width: 950px) {
	.Brewery-details {
		width: 70%;
		height: 45%;
	}
}

@media screen and (max-width: 950px) and (min-width: 830px) {
	.Brewery-details {
		width: 80%;
		height: 45%;
	}
}

@media screen and (max-width: 830px) {
	.Brewery-details {
		width: 80%;
		height: 45%;
	}

	.details-button-box {
		flex-direction: column;
	}

	.details-button-box button, .details-button-box a {
		height: 30px;
		font-size: 18px;
		border-radius: 8px;
    margin: 2px;
	}

	.details-button-box a {
		padding: 4px;
	}

	.cheers-details {
    height: 2.5vh;
    margin: -5px 10px -6.5px 0;
	}
}