@import '../styles/_variables.scss';

* {
	box-sizing: border-box;
	margin: 0;
}

.App {
	@include textFont(20px);
	text-align: center;
	background: $bone;
	height: 200vh;
}

.error {
	@include errorMessage();
}

.warning {
	display: flex;
	justify-content: flex-end;
	margin-right: 150px;
	font-size: 16px;
	color: teal;
}

.warning-space {
	display: flex;
	justify-content: flex-end;
	margin-right: 150px;
	font-size: 16px;
	color: $bone;
}