@import '../styles/_variables.scss';

.Breweries {
	@include cardContainer();
	margin-top: 5px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.brewery-box {
	display: flex;
	flex-direction: column;;
	justify-content: center;
	background: $grey;
	border-radius: 10px;
	overflow: scroll;
	height: inherit;
	height: 190px;
	width: 100%;
	padding: 10px;
	position: relative;
}

.Breweries h3 {
	color: $teal;
	font-size: 22px;
}

.Breweries p {
	color: $bone;
	font-size: 16px;
	margin: 10px 0 10px 0;
}

.details-button {
	@include textFont(16px);
	font-weight: bold;
	color: $grey;
	background: $golden;
	border-radius: 8px;
	height: 25px;
	outline: none;
	border: none;
	padding: 0 15px 0 15px;
	position: absolute;
	left: 47%;
  margin-left: -50px;
  top: 110%;
	margin-top: -50px;
	cursor: pointer;

	&:hover {
		filter: drop-shadow(0px 0px 4px $golden);
	}
}

.page-button-box {
	display: flex;
	justify-content: flex-end;
	margin-right: 147px;
}

.back-button, .forward-button {
	@include greyButton();
	color: $teal;

	&:active {
		background: $teal;
		color: $grey
	}
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
	.Breweries {
		margin: 30px 75px 0 75px;
		grid-template-columns: repeat(3, 1fr);
	}

	.page-button-box {
		display: flex;
		justify-content: center;
		margin: 0;
	}
}

@media screen and (max-width: 800px) and (min-width: 650px) {
	.Breweries {
		margin: 30px 75px 0 75px;
		grid-template-columns: repeat(2, 1fr);
	}

	.page-button-box {
		display: flex;
		justify-content: center;
		margin: 0;
	}
}

@media screen and (max-width: 650px) {
	.Breweries {
		margin: 10px 50px 0 50px;
		grid-template-columns: repeat(1, 1fr);
	}

	.page-button-box {
		display: flex;
		justify-content: center;
		margin: 0;
	}
}