@import '../styles/_variables.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.Welcome {
  position: fixed;
	background: $grey;
	border: 5px $teal solid;
	border-radius: 15px;
  width: 50%;
  height: 50%;
  top:50%;
  left:50%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.welcome-title {
	color: $teal;
	font-size: 40px;
	margin-bottom: 20px;
}

.welcome-name {
	@include headerFont(52px);
}

.welcome-logo {
	height: 3.5vh;
	margin-right: 5px;
}

.welcome-message {
	color: $teal;
	line-height: 30px;
}

.get-started {
	@include textFont(16px);
	color: $grey;
	background: $golden;
	border-radius: 10px;
	height: 30px;
	outline: none;
	border: none;
	padding: 0 15px 0 15px;
	margin: 20px;
	cursor: pointer;

	&:hover {
		filter: drop-shadow(4px 4px 4px $golden);
	}
}